<h2>Students List</h2>

<table border="1" *ngIf="students.length > 0">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Class</th>
      <th>Section</th>
      <th>Gender</th>
      <th>Parent Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let s of students; let i = index">
  <td>{{ s.student.name }}</td>
  <td>{{ s.student.class }}</td>
  <td>{{ s.student.section }}</td>
  <td>{{ s.student.gender }}</td>
  <td>{{ s.parent.name }}</td>
  <td>{{ s.parent.email }}</td>
  <td>{{ s.parent.phone }}</td>
  <td><button (click)="deleteStudent(i)">Delete</button></td>
</tr>

  </tbody>
</table>

<p *ngIf="students.length === 0">No students found</p>
