.sidebar {
  width: 90%;
  height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 20px 10px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: #334155;
}

.menu-item.active {
  background-color: #2563eb;
}

.menu-icon {
  width: 50px;
  height: 50px;
}

.menu-text {
  font-size: 14px;
}
